@import '../../styles//mixins.scss';
.home {
  .btn-editot-toggle {
    @include btn();
    background: var(--light-color);
  }
  .no-user-message {
    margin-top: 6rem;
    color: var(--text-light-color);
    text-align: center;
    h2 {
      font-size: 3rem;
      color: unset;
    }
    a {
      @include btn();
      color: var(--text-dark-color);
      background-color: var(--text-light-color);
      margin-top: 2rem;
      display: inline-block;
      &:hover {
        text-decoration: unset;
      }
    }
  }
  .no-snippets {
    color: var(--text-light-color);
    font-weight: bold;
    margin-top: 2rem;
  }
  .home-loader-container {
    display: grid;
    place-items: center;
    .loader {
      width: 80px;
      height: 80px;
    }
  }
}
