@import '../../styles/mixins.scss';
.snippet-editor {
  @include card();

  .btn-save,
  .btn-cancel {
    @include btn();
    margin-right: 1rem;
    color: var(--text-light-color);
  }
  .btn-save {
    background: var(--primary-color);
  }
  .btn-cancel {
    background: var(--danger-color);
  }
}
